.cent {
    margin: 0;
    padding-top: 4vw;
}

.app {
    //background-image: url('images/pool-water.jpg');
    background-repeat: repeat;
    .link2 {
        color: black;
        text-decoration: none;
        &:hover {
            color: gray;
            filter: brightness(1.2);
        }
    }
}

.app .link {
    background: rgb(0, 0, 0);
    text-decoration: none;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    &:hover {
        background: rgb(70, 67, 67);
        text-decoration: none;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        filter: brightness(1.2);
    }
    &.active {
        border-bottom: 2px solid blue;
        /* Add blue underline to active link */
    }
}