h1 {
    color: rgb(0, 0, 0);
}

.upperbox {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 2% 2% 2% 2%;
    box-shadow: 0 10px 40px rgb(11, 11, 11);
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    margin-top: 4%;
    margin-bottom: 5%;
    justify-content: space-between;
}

.text-cont {
    width: 48%;
    background-color: white;
    font-size: 100%;
}

.info {
    margin-top: 5%;
    margin-left: 5%;
    color: rgb(81, 81, 81);
    line-height: 1.8;
    text-align: left;
}

.video-container {
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-video {
    width: 10%;
    /* Adjust width as needed */
    display: flex;
    align-items: center;
    margin-right: 20%;
    justify-content: center;
    /* Add this line to center video vertically */
    align-content: center;
}

video {
    width: 100%;
}
