.vertical-timeline {
    font-family: 'Arial', sans-serif;
}

.vertical-timeline-element-content {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 1%;
    padding: 2%;
}

.vertical-timeline-element-date {
    font-weight: bold;
}

.vertical-timeline-element-title {
    font-size: 1.2em;
    margin-bottom: 1%;
}

.vertical-timeline-element-subtitle {
    font-size: 1em;
    color: #777;
}

.vertical-timeline-element-content {
    p {
        font-size: 0.9em;
        color: #555;
    }
}