.text-container {
    text-align: center;
    span.Read {
        color: blue;
    }
}

.product-media {
    width: 100%;
    height: auto;
}

h1.underline {
    position: relative;
    color: bisque;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5%;
        background-color: black;
        /* Replace with your desired underline color */
    }
}