.footer {
    background-color: white;
    max-width: 100%;
    padding: 0% 2% 1% 2%;
}

.top {
    display: flex;
    gap: 1.2vw;
}

.top .item {
    flex: 1;
    flex-direction: column;
    text-align: justify;
    font-size: 0.6vw;
    margin: 0 2%;
}

.top h1 {
    font-size: 1vw;
    font-weight: 1000;
    color: blue;
}

.top span {
    color: gray;
    display: flex;
    align-items: center;
    padding: 1%;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
}

.bottom .left {
    display: flex;
    align-items: center;
}

.bottom .left .copyright {
    font-size: 1.4vw;
    color: blue;
}
