.footer {
    background-color: white;
    padding: 0% 2% 1% 2%;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

.top {
    display: flex;
    gap: 0.9vw;
}

.top .item {
    flex: 1;
    flex-direction: column;
    text-align: justify;
    font-size: 1.5vw;
}

.top h1 {
    font-size: 2vw;
    font-weight: 1000;
    color: #3D62CD;
}

.top span {
    max-width: 15vw;
    color: gray;
    display: flex;
    align-items: center;
    padding: 0.1%;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
}

.bottom .left {
    display: flex;
    align-items: center;
}

.bottom .left .copyright {
    font-size: 0.9vw;
    color: rgb(65 124 215);
}
