.team-members-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.team-member {
    text-align: center;
    width: 300px;
    padding: 20px;
    border: 1px solid #242daf;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 15px;
    }
    .member-details {
        h3 {
            margin-bottom: 5px;
        }
        p {
            margin-bottom: 10px;
        }
        p:first-child {
            font-weight: bold;
        }
    }
}