.navbar {
    position: fixed;
    /* changed from absolute to fixed */
    top: 0;
    /* added to position it at the top */
    width: 100%;
    /* added to make it span the entire width */
    height: 4vw;
    display: flex;
    vertical-align: middle;
    background: linear-gradient(90deg, rgb(51, 85, 198), rgb(240, 238, 237));
    padding-bottom: 1%;
    z-index: 1000;
    /* added to ensure it's above other content */
}

.wrapper {
    max-width: 100vw;
    height: 100%;
    padding: 1% 3%;
    display: flex;
    font-size: 1.8vw;
    font-weight: 600;
    justify-content: space-between;
}

.item {
    display: flex;
    align-items: center;
    font-size: 100%;
    .icon-button {
        --button-size: 40%;
        border: none;
        width: var(--button-size);
        height: var(--button-size);
        background: linear-gradient(90deg, rgb(51, 85, 198), rgb(3, 238, 255));
        /* Updated */
        border-radius: 50%;
        padding: 0.2vw;
        margin: 6%;
        transition: filter 300ms;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .icon-button:hover {
        filter: brightness(1.2);
    }
}

.left {
    display: flex;
    align-items: center;
    gap: 3vw;
}

.right {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    .item {
        display: flexbox;
    }
}

.dropdown-content {
    position: fixed;
    /* Changed */
    left: 90%;
    /* Change from 90% to 0 */
    top: 5vw;
    /* Added to position it below the navbar */
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    padding: 1%;
}

.dropdown-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-content ul li {
    padding: 10% 0;
    border-bottom: 1px solid #ccc;
}

.dropdown-content ul li:last-child {
    border-bottom: none;
}
