.navbar {
    position: relative;
    /* Added */
    height: 4vw;
    display: flex;
    vertical-align: middle;
    background: linear-gradient(90deg, rgb(51, 85, 198), rgb(240, 238, 237));
    padding-bottom: 1%;
}

.wrapper {
    max-width: 100vw;
    height: 100%;
    padding: 1% 3%;
    display: flex;
    font-size: 1.8vw;
    font-weight: 600;
    justify-content: space-between;
}

.item {
    display: flex;
    align-items: center;
    font-size: 100%;
    .icon-button {
        --button-size: 20px;
        width: var(--button-size);
        height: var(--button-size);
        background-color: #484a4d;
        border-radius: 50%;
        padding: 0.2vw;
        margin: 6%;
        transition: filter 300ms;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .icon-button:hover {
        filter: brightness(1.2);
    }
}

.left {
    display: flex;
    align-items: center;
    gap: 3vw;
}

.right {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    .item {
        display: flexbox;
    }
}

.dropdown-content {
    position: absolute;
    /* Changed */
    left: 92%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 10px;
}

.dropdown-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-content ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.dropdown-content ul li:last-child {
    border-bottom: none;
}
