.navbar {
    height: 5.5vw;
    box-shadow: 0 0 100% rgba(0, 0, 0, 0.1);
    background-color: white;
    .wrapper {
        max-width: 100vw;
        height: 100%;
        padding: 1% 3%;
        display: flex;
        font-size: 1.2vw;
        font-weight: 600;
        justify-content: space-between;
        .item {
            display: flex;
            align-items: center;
            font-size: 100%;
        }
        .left {
            display: flex;
            align-items: flex-start;
            gap: 3vw;
        }
        .right {
            display: flex;
            align-items: left;
            gap: 4vw;
        }
        .icons {
            display: flex;
            align-items: center;
            gap: 2%;
            color: gray;
            cursor: pointer;
        }
    }
}
